.feedEkList {
    width: 100%;
    max-width: 240px; /* 3col=324px, 4col=240px */
    height: 600px;
    overflow: auto;
    padding: 4px 6px;
    list-style: none outside none;
    color: #505659;
    border: 0px solid #D3CAD7;
    background-color: #fffbf0;
}
.feedEkList li {
    padding: 5px;
    border-bottom: 1px dashed #D3CAD7;
}
.feedEkList li:last-child {
    border-bottom: none;
}
.itemTitle {
    padding-bottom: 2px;
}
#rss-1 .itemTitle {
    padding-bottom: 15px;
}
.itemTitle a {
    margin-bottom: 15px;
    text-decoration: none;
    color: #505659 !important;
}
.itemTitle a:hover {
    text-decoration: underline;
}
.itemDate {
    font-size: 11px;
    color: #aaa;
}
.itemContent {
    font-size: initial;
}
.feed-title {
	padding: 20px 10px 15px 10px;
	word-wrap: break-word;
	background-color: #d8d0c3;
	color:#72603f;
	min-height: 64px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
